services:
  inso_code_app:
    image: anik2861/inso-code:v1
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: inso_code_app
    env_file:
      - .env
    ports:
      - '5100:5100'
    volumes:
      # - node_modules_cache:/app/inso-code-service/node_modules
      - ../INSO_CODE_BACKEND:/app/inso-code-service
      - node_modules_cache:/app/inso-code-service/node_modules
    networks:
      - inso_code_network
    depends_on:
      # redis-stack:
      #   condition: service_started
      elasticsearch:
        condition: service_started
      kibana:
        condition: service_started
    restart: unless-stopped

  elasticsearch:
    image: elasticsearch:7.9.2
    container_name: elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms1024m -Xmx1024m
    ports:
      - '9200:9200'
      - '9300:9300'
    networks:
      - inso_code_network


  kibana:
    image: kibana:7.9.2
    container_name: kibana
    restart: always
    environment:
      ELASTICSEARCH_HOSTS: 'http://elasticsearch:9200'
    ports:
      - '5601:5601'
    depends_on:
      - elasticsearch
    networks:
      - inso_code_network

  inso_code_editor:
    image: codercom/code-server:latest
    container_name: inso_code_editor
    environment:
      - TZ=Asia/Dhaka
    ports:
      - '8080:8080'
    command: ['--bind-addr', '0.0.0.0:8080', '--auth', 'none', '--base-path', '/editor']
    user: root
    # REMOVE project mount to stop auto-loading!
    volumes:
      - /user-projects:/user-projects
      - code_server_data:/home/coder/.local/share/code-server
      - ./vscode-settings.json:/home/coder/.local/share/code-server/User/settings.json
    networks:
      - inso_code_network
    restart: unless-stopped

  # redis-stack:
  #   image: redis/redis-stack:latest
  #   container_name: redis-stack
  #   ports:
  #     - '6379:6379'
  #     - '8001:8001'
  #   volumes:
  #     - redis_data:/var/lib/redis
  #   environment:
  #     - REDIS_ARGS= --save 900 1
  #   networks:
  #     - inso_code_network

networks:
  inso_code_network:
    driver: bridge

volumes:
  code_server_data:
  node_modules_cache:
